<h2> TOC'leaner {{cleaner.username}}</h2>

<p>
  Precio:
  <b> {{ cleaner.fee }}€ </b>
</p>


<h3>
  Contrata servicio con
  <i> {{ cleaner.username }} </i>
  {{!-- <i>{{cleaner.rate</i> --}}
</h3>

<form action="/scheduleServiceForm" method="post">
  <div>
    <label for="service-date-input">
      Fecha del servicio:
    </label>
    <input type="date" name="serviceDate" id="service-date-input">
  </div>

  <input type="hidden" name="cleanerId" value="{{ cleaner._id }}">

  <button>Contrata</button>
</form>


<a href="/cleaners">
  Encuentra otro TOC'leaner
</a>