<h2>Edita tu perfil</h2>

<form action="/edit/{{user.id}}" method="POST" id="form-container">
  <label for="username">Usuario</label>
  <input id="username" type="text" name="username" value="{{user.username}}">
  <br><br>
  
  <label for="name">Nombre</label>
  <input id="name" type="text" name="name" value="{{user.name}}">
  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" value="{{user.email}}">
  <br><br>
  
  {{#if user.isToc}}
    <label for="fee">Tarifa</label>
    <input id="fee" type="text" name="fee" value="{{user.fee}}">
    <br><br>
  {{else}}
  <label for="address">Dirección</label>
  <input id="address" type="text" name="address" placeholder="C/CasaLimpia 6" value="">
  <br><br>
  {{/if}}

  <div class="form-group">
    <label for="photo">Upload your avatar</label>
    <input type="file" name="photo">    
  </div>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Actualiza tus datos</button>

</form>