<h1>{{title}}</h1>
<p>Hola {{user.username}}</p>


{{#if user.isToc}}
  <h3> INFO sobre tu servicio </h3>

  <p>
    El precio por hora es: <b>{{ user.fee }}€</b>
  </p>


  <h4>Servicios:</h4>
{{#each services}}
      <li>
        <h4> {{ serviceDate }} </h4>

        <ul>
          <li> <b>Para</b>: {{ user.username }} || <a href="/public/{{user._id}}">Ver ficha</a> </li>
        </ul>

        {{#ifEquals this.confirm "Pendiente"}}
        <li><a href="/confirm/{{cleaner._id}}">Confirma servicio</a></li>
        {{/ifEquals}}
      </li>
  {{/each}}
  
{{else}}
<h4>Servicios pendientes:</h4>

<ul>

{{#if services}}
  {{#each services}}
      <li>
        <h4> {{ serviceDate }} </h4>

        <ul>
          <li> <b>Para</b>: {{ user.name }} </li>
          <li> <b>TOC'leaner</b>: {{ cleaner.name }} </li>
          <li> <b>Estado</b>: {{ confirm }} </li>
           <a href="/delete/{{_id}}">Cancelar servicio</a>
          
        </ul>
        {{!-- {{#if pastDate}} --}}
        <li><a href="/rates/{{cleaner.id}}">Valora a tu TOC'leaner</a></li>
        {{!-- {{/if}} --}}
      </li>
  {{/each}}
{{/if}}
</ul>
{{/if}}
<a href='/edit/{{user.id}}'>Edita tu perfil</a>
