{{!-- Info personal --}}
<div class="profile-info">
  <div class="container">
    <h2>Hola {{user.username}}!</h2>
    <div class="flexy">
      <div class="personal-info">
      <h3>Tu info personal:</h3>
        <p><b>Usuario</b><br>  {{user.username}}</p>
        <p><b>Nombre</b> <br> {{user.name}}</p>
        <p><b>Email</b> <br> {{user.email}}</p>
        {{#if user.isToc}}
          <p>{{user.fee}}</p>
        {{else}}
          <p>Dirección.</b> {{user.address}}</p>
        {{/if}}
        <p>Algo sobre ti.</b> {{user.description}}</p>
      </div>
      <div class="avatar">
        <img src="{{user.avatarPath}}" alt="Avatar">
      </div>
    </div>
  </div>
</div>

{{!-- Servicios -----------------------------------}}
<div class="container">
{{#if user.isToc}}
  <h3>Tus servicios</h3>
  <p>El precio por hora es: <b>{{ user.fee }}€</b></p>

  <h2>Tu rating es</h2>
  <div>
    <p>{{totalRate}}</p>
  </div>

  <h3 class="text-center">Tus próximos servicios</h3>
  <div class="services">
  {{#each services}}
    <div class="card">
      <div class="card-header">
        <a href="/public/{{user._id}}">
          <h5><span class="small">La casa de</span> <b>{{user.username}}</b></h5>
        </a>
      </div>
      <div class="card-body">
        <p class="card-title"><b>Fecha</b>: {{serviceDate}}</p>
        <p class="card-text"><b>Hora</b>: {{serviceTime}}</p>
        <p class="card-text"><b>Estado</b>: {{confirm}}</p>
        <a href="/delete/{{this._id}}"Cancelar servicio</a>
        {{#ifEquals this.confirm "Pendiente" this}}
          <a href="/confirm/{{this._id}}" class="btn btn-primary">Confirma servicio</a>
          <a href="/reject/{{this._id}}" class="btn btn-primary">Rechaza servicio</a>
        {{/ifEquals}}
      </div>
    </div>
  {{/each}} 
{{else}} 
</div>

  <h3 class="text-center">Tus servicios pendientes</h3>
  <div class="services">  
  {{#if services}} 
    {{#each services}}
      <div class="card">
        <div class="card-header">
          <a href="/public/{{this.cleaner._id}}">
            <h5><b>{{this.cleaner.name}}</b> <span class="small">es tu TOC'leaner</span></h5>
          </a>
        </div>
        <div class="card-body">
          <p class="card-title"><b>Fecha</b>: {{ this.serviceDate }}</p>
          <p class="card-text"><b>Hora</b>: {{ serviceTime }}</p>
          <p class="card-text"><b>Estado</b>: {{ this.confirm }}</p>
          <a href="/delete/{{this._id}}" class="btn btn-primary">Cancelar servicio</a>
        </div>
      
      {{#ifEquals this.confirm "Confirmado" this}} 
        {{#unless ../hasVoted}}
          <a href="/rates/{{this.cleaner.id}}">Valora a tu TOC'leaner</a>
        {{/unless}} 
      {{/ifEquals}} 
      </div>
    {{/each}} 
  {{/if}}
{{/if}}
</div>
</div>

  <a href='/edit/{{user.id}}'>Edita tu perfil</a>