<h1>{{title}}</h1>
<p>Hola {{user.username}}</p>


{{#if user.isToc}}
  <h3> INFO sobre tu servicio </h3>

  <p>
    El precio por hora es: <b>{{ user.fee }}€</b>
  </p>

  <h4>Servicios por confirmar</h4>
{{#each services}}
      <li>
        <h4> {{ serviceDate }} </h4>

        <ul>
          <li> <b>Para</b>: {{ user.username }} </li>
          <li> <b>TOC'leaner</b>: {{ cleaner.username }} </li>
        </ul>
        {{!-- {{if PickDate.confirm}}
        <li><a href="/user/{{this._id}}">Ver ficha</a></li>
        {{else}} --}}
        <li><a href="/confirm/{{this._id}}">Confirma servicio</a></li>
        {{!-- {{/if}} --}}
      </li>
  {{/each}}
  
{{else}}
<h4>Servicios pendientes:</h4>

<ul>

{{#if services}}
  {{#each services}}
      <li>
        <h4> {{ serviceDate }} </h4>

        <ul>
          <li> <b>Para</b>: {{ user.username }} </li>
          <li> <b>TOC'leaner</b>: {{ cleaner.username }} </li>
        </ul>
        {{#if pastDate}}
        <li><a href="/rates/{{cleaner.id}}">Valora a tu TOC'leaner</a></li>
        {{/if}}
      </li>
  {{/each}}
{{/if}}
</ul>
{{/if}}
<a href='/edit/{{user.id}}'>Edita tu perfil</a>
