<h1>{{title}}</h1>
<p>Hola {{user.username}}</p>

<div class="avatar">
  <img src="{{user.avatarPath}}" alt="Avatar">
</div>


{{#if user.isToc}}
<h3> INFO sobre tu servicio </h3>

<p>
  El precio por hora es:
  <b>{{ user.fee }}€</b>
</p>

<h2>Tu rating es</h2>
<div>
  <p>{{totalRate}}</p>
</div>

<h4>Servicios por confirmar</h4>
{{#each services}}
      <li>
        <h4> {{ serviceDate }} </h4>

        <ul>
          <li> <b>Para</b>: {{ user.username }} || <a href="/public/{{user._id}}">Ver ficha</a> </li>
          <li> <b>Hora</b>: {{ serviceTime }} </li>
             <li> <b>Estado</b>: {{ confirm }} </li>
             
        </ul>

        {{#ifEquals this.confirm "Pendiente" this}}
        <li><a href="/confirm/{{this._id}}">Confirma servicio</a></li>
        <li><a href="/reject/{{this._id}}">Rechaza servicio</a></li>
        {{/ifEquals}}
      </li>
  {{/each}}
  
{{else}}
<h4>Servicios pendientes:</h4>

<ul>

  {{#if services}} 
  {{#each services}}
  

{{!-- 
    <ul>
      <li>
        <h4> {{ serviceDate }} </h4> --}}

        
           <p><b>TOC'leaner</b>: {{ this.cleaner.name }} </p>
         <p> <b>Día</b>: {{ this.serviceDate }} </p>
          <p><b>Hora</b>: {{ serviceTime }} </p>
          <p><b>Estado</b>: {{ this.confirm }} </p>
           <p><a href="/delete/{{this._id}}">Cancelar servicio</a>
          
        {{!-- 
        {{#ifEquals this.confirm "Pendiente" this}} --}}
        {{#unless hasVoted}}
        <p><a href="/rates/{{this.cleaner.id}}">Valora a tu TOC'leaner</a></p>
        {{/unless}}
        {{!-- {{/if}} --}}

     
      
  {{/each}}
{{/if}}
</ul>
{{/if}}
<a href='/edit/{{user.id}}'>Edita tu perfil</a>
