{{!-- Info personal --}}
<div class="profile-info">
  <div class="container">
    <h2>Hola {{user.username}}!</h2>
    <div class="flexy">
      <div class="personal-info">
        <p class="hr-info"><b>Usuario</b><br>  {{user.username}}</p>
        <p><b>Nombre</b> <br> {{user.name}}</p>
        <p><b>Algo sobre ti</b><br> {{user.description}}</p>
        <p><b>Email</b> <br> {{user.email}}</p>
        {{#if user.isToc}}
          <p><b>Tarifa</b><br>{{user.fee}} €/h</p>
          <p><b>Valoración</b><br> {{totalRate}} estrellas</p>
        {{else}}
          <p><b>Dirección</b><br> {{user.address}}</p>
        {{/if}}
      </div>
      <div class="avatar">
        <img src="{{user.avatarPath}}" alt="Avatar">
        <a href='/edit/{{user.id}}' class="btn btn-secondary">Editar</a>
      </div>
    </div>
  </div>
</div>

{{!-- Servicios -----------------------------------}}
<div class="container">
{{#if user.isToc}}
  <h3 class="text-center">Tus próximos servicios</h3>
  <div class="services">
  {{#each services}}
    <div class="card">
      <div class="card-header">
        <a href="/public/{{user._id}}">
          <h5><span class="small">La casa de</span> <b>{{user.name}}</b></h5>
        </a>
      </div>
      <div class="card-body">
        <p class="card-title"><b>Fecha</b>: {{serviceDate}}</p>
        <p class="card-text"><b>Hora</b>: {{serviceTime}}</p>
        <p class="card-text"><b>Estado</b>: {{confirm}}</p>
        <a href="/delete/{{this._id}}"Cancelar servicio</a>
        {{#ifEquals this.confirm "Pendiente" this}}
          <a href="/confirm/{{this._id}}" class="btn btn-success">Confirma servicio</a>
          <a href="/reject/{{this._id}}" class="btn btn-danger">Rechaza servicio</a>
        {{/ifEquals}}
      </div>
    </div>
  {{/each}} 
{{else}} 
</div>

  {{#if services}}
    <h3 class="text-center">Tus servicios pendientes</h3>
  {{else}}
    <h3 class="text-center">¿Quieres pedir un TOC'leaner?</h3>
    <p class="text-center p-services">Sólo tienes que echar un vistazo a la lista de TOC'leaners y concertar una cita, así de fácil</p>
    <div class="img-services">
      <img src="/images/031-cleaning.png">
    </div>
    <a href="/cleaners" class="btn btn-primary btn-services">Pide un TOC'leaner</a>
  {{/if}}
  <div class="services">  
  {{#if services}} 
    {{#each services}}
      <div class="card">
        <div class="card-header">
          <a href="/public/{{this.cleaner._id}}">
            <h5><b>{{this.cleaner.name}}</b> <span class="small">es tu TOC'leaner</span></h5>
          </a>
        </div>
        <div class="card-body">
          <p class="card-title"><b>Fecha</b>: {{ this.serviceDate }}</p>
          <p class="card-text"><b>Hora</b>: {{ serviceTime }}</p>
          <p class="card-text"><b>Estado</b>: {{ this.confirm }}</p>
          <a href="/delete/{{this._id}}" class="btn btn-danger">Cancelar servicio</a>
      {{#ifEquals this.confirm "Confirmado" this}} 
        {{#unless ../hasVoted}}
          <a href="/rates/{{this.cleaner.id}}" class="btn btn-warning">Valora a tu TOC'leaner</a>
        {{/unless}} 
      {{/ifEquals}} 
        </div>      
      </div>
    {{/each}} 
  {{/if}}
{{/if}}
</div>
</div>