
<div class="avatar">
  <img src="{{user.avatarPath}}" alt="Avatar">
</div>

{{#if ficha.isToc}}
  <p>Usuario: {{ ficha.username }} </p>
  <p>Nombre: {{ ficha.name }} </p>
  <p>Tarifa: {{ficha.fee}}€</p>
  <p>Descripción: {{ficha.description}}</p>
  <p>Valoración media: {{totalRate}}</p>

        <form action="/cleaners" method="post">
  <div>
    <label for="service-date-input">
      Fecha del servicio:
    </label>
    <input type="date" name="serviceDate" id="service-date-input">
  </div>
  <input type="hidden" name="cleanerId" value="{{ ficha._id }}">

  <button>Contrata</button>
  </form>

  <a href="/cleaners">
  Buscar otro TOC'leaner
</a>
        

  {{else}}
  <p>Usuario: {{ ficha.username }} </p>
  <p>Nombre: {{ ficha.name }} </p>
  <p>Descripción: {{ficha.description}}</p>
  
  {{!-- {{#ifEquals this.confirm "Confirmado" this}} --}}
  <p>Dirección: {{ficha.address}}</p>
  {{!-- {{/ifEquals}} --}}
  
  <div id="map" class="map_canvas" style="height:500px"></div>
  <input id="geocomplete" type="hidden" placeholder="Type in an address" value="{{ficha.address}}" autocomplete="off">
</ul>


<a href="/profile">
  Vuelve para confirmar
</a>
        
{{/if}}

