
{{#if ficha.isToc}}
  <p>Usuario: {{ ficha.username }} </p>
  <p>Nombre: {{ ficha.name }} </p>
  <p>Dirección: {{ficha.address}}</p>
  <p>Tarifa: {{ficha.fee}}€</p>
  <p>Descripción: {{ficha.description}}</p>
  <p>Valoración media: {{totalRate}}</p>

  {{else}}
  <p>Usuario: {{ ficha.username }} </p>
  <p>Nombre: {{ ficha.name }} </p>
  {{!-- <p>Tarifa: {{ficha.fee}}€</p> --}}
  <p>Descripción: {{ficha.description}}</p>
  <p>Dirección: {{ficha.address}}</p>
  {{!-- <p>Valoración: {{ficha.description}}</p> --}}
  <p>Dirección: {{ficha.address}}</p>
  <p>Descripción: {{ficha.description}}</p>
  <div id="map" style="height:500px"></div>
</ul>
{{/if}}


<a href="/profile">
  Vuelve a tu perfil
</a>
