<div class="public">
  <div class="avatar2">
    <img src="{{ficha.avatarPath}}" alt="Avatar">
  </div>
  <div>
    <p>
      <b>Descripción.</b> {{ficha.description}}</p>
    <p>
      <b>Usuario.</b> {{ ficha.username }} </p>
    <p>
      <b>Nombre.</b> {{ ficha.name }} </p>
    {{#if ficha.isToc}}
    <p>
      <b>Tarifa.</b> {{ficha.fee}}€</p>
    <p>
      <b>Valoración media.</b> {{totalRate}}</p>
  </div>

  <p>{{message}}</p>

  {{!--
  <div class="card"> --}}
    <div class="card-body">
      <form action="/publicservicio" method="post" class="cleaner-list">
        <div class="form-group">
          <label for="service-date-input">
            Fecha del servicio:
          </label>
        </div>
        <div class="form-group">
          <input type="date" name="serviceDate" class="form-control" id="service-date-input">
        </div>
        <div class="form-group">
          <input type="time" name="serviceTime" class="form-control" id="service-time-input">
        </div>
        <input type="hidden" name="cleanerId" value="{{ ficha._id }}">
        <input type="hidden" name="Url" value="fichapublic">
        <div class="form-group">
          <button type="submit" class="but form-control">Contrata</button>
        </div>
      </form>
    </div>
    {{!-- </div> --}} {{!--
  <form action="/publicservicio" method="post">
    <div>
      <label for="service-date-input">
        Fecha del servicio:
      </label>
      <input type="date" name="serviceDate" id="service-date-input">
      <input type="time" name="serviceTime" id="service-time-input">
    </div>
    <input type="hidden" name="cleanerId" value="{{ ficha._id }}">
    <input type="hidden" name="Url" value="fichapublic">
    <input type="submit" value="Contrata">
  </form> --}}

  <a href="/cleaners">
    Buscar otro TOC'leaner
  </a>

  {{else}}
  <p>
    <b>Dirección.</b> {{ficha.address}}</p>

  <div id="map" class="map_canvas" style="height:500px"></div>
  <input id="geocomplete" type="hidden" placeholder="Type in an address" value="{{ficha.address}}" autocomplete="off">

  <a href="/profile">Vuelve para confirmar</a>

  {{/if}}
</div>
</div>